/* Overall */

html, body {
  font-family: "Roboto Slab", serif;
  font-size: 1em;
  line-height: 1.5;
  color: #111;
  padding: 10px 0 10px 0;
}

/* Differences per media size */

/* For little screens */
@media screen and (max-width: 500px){
  #content {
    width: 90%;
    height: 100%;
    margin: auto;
  }
  html, body{
    font-size: 0.95em;
  }
}

/* Everything else */
@media screen and (min-width: 501px){
  #content {
    width: 600px;
    margin: auto;
  }
  .cols {
    -webkit-columns: 100px 2; /* Chrome, Safari, Opera */
    -moz-columns: 100px 2; /* Firefox */
    columns: 100px 2;
  }
}

/* General typographic elements */

#brand {
  font-weight: 400;
  text-align: center;
  margin-bottom: 0;
}

#portrait > img {
  display: block;
  margin: 0 auto;
  /* eventually */
}

#subtitle {
  color: #444;
  text-align: center;
}

.links {
  padding: 0;
  clear: both;
  text-align: center;
}
.links li {
  display: inline;
}
.links li > a {
  color: inherit;
  text-decoration: underline dotted;
}
.links li + li::before {
  content: "\b7\2002";
}

a {
  text-decoration: none;
  color: #222;
  background-color: #fff200;
  padding: 0px 2px;
}

a:hover {
  text-decoration: underline double;
}

dt {
  font-size: large;
  color: #222222;
  margin: 24px 0 0 0;
}

dd {
  padding: 3px 0 3px 0;
}

ul {
  list-style: none;
}

/* Project-specific */

.project::before {
  content: "» ";
}

.tagline {
  color: #444;
}

/* Citation list-specific */

.citation {
  font-size: 90%;
  color: #444;
  margin: 1px 0 0 20px;
}
.citedate {
  padding: 0.5ex 0.9ex 0 0;
  font-size: small;
  text-align: right;
  vertical-align: top;
}
.citedate > span {
  color: #fff;
  background-color: #0074d9;
  padding: 1px 3px;
  border-radius: 3px;
}
.citeproject {
  background-color: #888;
  color: #eee;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: smaller;
  text-decoration: none;
}
.citeid {
  font-family: monospace;
  font-size: 1.1em;
}

.otype {
  margin-left: -1.5em;
  font-size: small;
}

.citation-legend {
  text-align: center;
  font-size: small;
}

