<span class="citetitle">{% if i.url %}<a href="{{ i.url }}">{{ i.title | markdownify | remove: "<p>" | remove: "</p>" | replace: '\n', ' ' | strip}}</a>{% else %}{{ i.title | markdownify | remove: "<p>" | remove: "</p>" | replace: '\n', ' ' | strip}}{% endif %}</span><br/>
<div class="citation">
  <div class="citedetail">
  {% case i.type %}
  {% when "paper-conference" %}
    <i class="otype fa fa-comment fa-fw"></i>
  {% when "thesis" %}
    <i class="otype fa fa-book fa-fw"></i>
  {% when "article-journal" %}
    <i class="otype fa fa-file-alt fa-fw"></i>
  {% when "manuscript" %}
    <i class="otype fa fa-file-alt fa-fw"></i>
  {% when "chapter" %}
    <i class="otype fa fa-book-open fa-fw"></i>
  {% endcase %}
  {% for author in i.author %}{% if i.author.size > 1 and forloop.last %} and {% else %}{% endif %} {{ author.given }} {{ author.family }}{% unless i.author.size < 3 or forloop.last %}, {% endunless %}{% endfor %}.
  {% case i.type %}
    {% when "paper-conference" %}
      Presented at: <i> {{ i.event }}</i>. {{ i.event-place }}.
    {% when "thesis" %}
      <i>{{ i.genre }}. {{ i.publisher-place }}: {{ i.publisher }}</i>.
    {% when "article-journal" %}
    <i>{{ i.container-title }}{% if i.volume %} {{ i.volume }}{% endif %}{% if i.issue %}({{ i.issue }}){% endif %}{% if i.page %}, {{ i.page }}{% endif %}.</i>
      {% if i.doi %}ᴅᴏɪ: <small><a href="https://dx.doi.org/{{ i.doi }}">{{i.doi}}</a></small> {% endif %}
    {% when "chapter" %}
      In 
    {% for editor in i.editor %}{% if i.editor.size > 1 and forloop.last %} and {% else %}{% endif %} {{ editor.given }} {{ editor.family }}{% unless i.editor.size < 3 or forloop.last %}, {% endunless %}{% endfor %}
      {% if i.editor %} (ed{% if i.editor.size > 1 %}s{% endif %}.),{% endif %}
      <i>{{ i.container-title }}</i>. {{ i.publisher-place }}: {{ i.publisher }}.
    {% when "manuscript" %}
      Manuscript.
  {% endcase %}
    {% if i.lm-spec.preprint %} <a class="preprint" href="https://lmorrissey.info/output/{{ i.id }}.pdf">Preprint</a>{% endif %}
  </div>
</div>
