<h2 class="sechead">Research output</h2>
<table class="output">
  {% for i in site.data.output.references %}
      <tr>
    {% if i.lm-spec.pending %}
      {% assign currentdate = "Pending" %}
    {% else %}
      {% assign currentdate = i.issued.year %}
    {% endif %}
      {% if currentdate != date %}
    {% unless forloop.first %}{% endunless %}
      <td class="citedate"><a name="citation-{{ currentdate }}"></a><span>{{ currentdate }}</span></td>
      {% assign date = currentdate %}
    {% else %}
      <td></td>
      {% assign date = currentdate %}
    {% endif %}
    <td class="citeitem">
      {% include citation.html %}
    </td>
  </tr>
    {% unless forloop.last %}<tr class="spacer"></tr>{% endunless %}
    {% endfor %}
</table>
