<div id="projects">
  <dt>Research projects</dt>
  {% for project in site.data.projects %}
  <div class="project">
    <a name="{{ project.id }}"></a><b><large>{{ project.name }}</large></b>
    <span class="separator">|</span>
    <span class="tagline">{{ project.tagline }}</span>
    <div class="meta">
      {% if project.collaborators %}
      {% if project.id == "phd" %}
      <span class="collaborators">supervisors</span>:
      {% else %}
      <span class="collaborators">collaborators</span>:
      {% endif %}
      {% for i in project.collaborators %}<a href="{{ i.url }}">{{ i.name }}</a>
      (<abbr title="{{ i.institution }}">{{ i.shortinst }}</abbr>){% if forloop.last %}{% else %}, {% endif %} {% endfor %}
    </div>
    {% endif %}
    <div class="description">{{ project.description | markdownify }}</div>
<!--    {% if project.output %}
    <div class="output">
      <i>Research output associated with this project</i>:
        {% for i in site.data.output %}
        {% if i.project == project.id %}
        <dd>{% include citation.html %}</dd>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
-->
  {% endfor %}
</div>
