<dt>Recent (and recentish)</dt>
{% for i in site.data.recent | limit: 3 %}
<dd>
  <small>
  {% case i.type %}
    {% when "talk" %}
      <i class="otype fa fa-comment fa-fw"></i>
    {% when "article" %}
      <i class="otype fa fa-file-alt fa-fw"></i>
  {% endcase %}
  </small>
<a href={{i.link}}><em>{{ i.title }}</em></a>. {{ i.pubin }}. {{ i.date | date: "%-d %B, %Y" }}.
</dd>
{% endfor %}
